/* section */

.section-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    background-color: #656565;
    padding: 0.8px;
}

.section-bottom > .section-bottom-btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 0.8px;
    padding: 12px 15px;
    color: #fff;
    font-size: 0.95em;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    background-color: #36383f;
}

.section-bottom > .section-bottom-btn:hover {
    opacity: 0.75;
}

.section-bottom > .section-bottom-btn strong {
    font-size: 1.2em;
    font-weight: 900;
}