.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/* flexOne */
.flex.flexOne {
    display: flex;
}

.flex.flexOne .square {
    margin: 5px;
}

/* flexTwo */
.flex.flexTwo {
    display: flex;
    flex-direction: column;
}

.flex.flexTwo .square {
    margin: 2px;
}

/* flexThree */
.flex.flexThree {
    display: flex;
    flex-direction: row-reverse;
}

.flex.flexThree .square {
    margin: 2px;
}

/* flexFour */
.flex.flexFour {
    display: flex;
    width: 350px;
    flex-flow: wrap;
}

.flex.flexFour .square {
    margin: 5px;
    background-color: #3d8b6d;
}

/* flexFive */
.flex.flexFive {
    display: flex;
    width: 350px;
}

.flex.flexFive .item {
    background-color: #0b6643;
    width: 100px;
    height: 100px;
    margin: 2px;
}

.flex.flexFive .item#grow {
    flex-grow: 2;
}

/* flexSix */
.flex.flexSix {
    width: 500px;
    height: 400px;
    background-color: #f1f1f1;
    flex-direction: column;
}

.flex.flexSix .one {
    display: flex;
    justify-content: space-around;
}

.flex.flexSix .two {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    background-color: #d6d6d6;
}

.flex.flexSix .three {
    display: flex;
    justify-content: space-evenly;
}

/* flexSeven */
.flex.flexSeven {
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: space-between;
}

.flex.flexSeven .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex.flexSeven .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex.flexSeven .three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex.flexSeven .four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* flexEight */
.flex.flexEight {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: #eeeeee;
}

.flex.flexEight .one {
    display: flex;
    align-items: center;
}

.flex.flexEight .two {
    display: flex;
    align-items: flex-end;
}

.flex.flexEight .three {
    display: flex;
    align-items: flex-start;
}

/* flexNine */
.flex.flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #eeeeee;
    align-items: start;
    justify-content: space-evenly;
}

.flex.flexNine .square#special {
    align-self: flex-end;
}
